services:
  web:
    image: php:8.2-apache
    container_name: bookstore-web
    ports:
      - "8080:80"
    volumes:
      - ./public:/var/www/html
      - ./src:/var/www/src
    working_dir: /var/www/html