
@use '../core/variables' as *;
@use '../core/mixins' as *;


.cart {
    max-width: 1000px;
    margin: 0 auto;
    padding: $space-8 $space-6;

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: $space-6;
    }

    &__layout {
        display: flex;
        gap: $space-8;
        align-items: flex-start;
    }

    &__items-area {
        flex: 3;
    }

    &__summary {
        flex: 1;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: $space-4;
    }

    &__empty {
        padding: $space-4 0;
    }
}
