
@use '../core/variables' as *;
@use '../core/mixins' as *;


.home {
    max-width: 1200px;
    margin: 0 auto;
    padding: $space-8 $space-6;

    &__title {
        font-size: $font-size-h1;
        font-weight: $heading-font-weight;
        margin-bottom: $space-4;
    }

    &__divider {
        margin-top: $space-3;
        margin-bottom: $space-6;
        height: 2px;
        background-color: $color-border-subtle;
    }

    &__subtitle--catalog {
        margin-top: $space-9;
        margin-bottom: $space-3;
        font-size: $font-size-h2;
        font-weight: $heading-font-weight;
        color: $color-text-main;
    }
}
