
@use '../core/variables' as *;
@use '../core/mixins' as *;


.preferences {
    max-width: $page-max-width;
    margin: 0 auto;
    padding: $space-8 $space-6;

    &__title {
        margin: 0;
        font-size: $font-size-h1;
        font-weight: $heading-font-weight;
        color: $color-text-main;
    }

    &__divider {
        margin-top: $space-3;
        margin-bottom: $space-10;
        height: 2px;
        background-color: $color-border-subtle;
    }

    &__form {
        @include card-base($space-6);
        display: flex;
        flex-direction: column;
        gap: $space-6;

        max-width: 500px;
        margin: 0 auto;

        align-items: center;
    }

    &__group {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: $space-4;
        width: 100%;

        border-bottom: .75px solid $color-border-subtle;
        padding-bottom: $space-8;
    }

    &__group:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
    }

    &__label {
        font-weight: 500;
        font-size: 0.95rem;
        color: $color-text-main;

        min-width: 180px;
        text-align: left;
    }

    &__select,
    &__input {
        max-width: 220px;
        @include form-control-base();
    }

    &__group--view {
        align-items: center;
    }

    &__view-toggle {
        display: flex;
        gap: $space-3;
    }

    &__view-button {
        @include button-secondary-base();
        padding: $space-2;
        border-radius: $radius-md;

        background-color: transparent;
        border-color: $color-border-subtle;

        &[aria-pressed='true'] {
            background-color: $color-surface-input;
            border-color: $color-accent;
            color: $color-text-main;
        }
    }

    &__view-icon {
        width: 28px;
        height: 28px;
        display: block;
    }

    &__note {
        font-size: 0.8rem;
        color: $color-text-muted;
        max-width: 420px;

        text-align: center;
        margin: 0 auto;
    }

    &__submit {
        @include button-primary-base();
        align-self: center;
        margin-top: $space-4;
    }

}
