
@use '../core/variables' as *;


// Contenedor del header dentro de la página
.page__header {
    padding-inline: $spacing-page-x;
    padding-block: 1rem;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;


    // Distribución principal: logo | buscador | acciones
    &__logo {
        flex: 0 0 auto;
    }

    &__logo-img {
        max-height: 60px;
        display: block;
    }

    &__actions {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

}
