
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0.75rem 1.5rem;
}


.header__logo-img {
    max-height: 40px;
}


.header__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}