
@use '../core/variables' as *;


*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: $font-family-base;

    font-size: $font-size-base;
    line-height: $line-height-base;

    background-color: $color-bg-page;
    color: $color-text-main;
}


h1 {
    font-size: $font-size-h1;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    margin: 0 0 1rem;
}

h2 {
    font-size: $font-size-h2;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    margin: 0 0 0.75rem;
}

h3 {
    font-size: $font-size-h3;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    margin: 0 0 0.5rem;
}


.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__main {
        flex: 1;

        max-width: $page-max-width;
        width: 100%;

        margin-inline: auto;

        padding-inline: $spacing-page-x;
        padding-block: $page-padding-y;
    }
}
