
@use '../core/variables' as *;


.header__icon {
    display: block;
    color: $icon-color;

    path,
    circle,
    rect,
    line,
    polygon,
    polyline {
        fill: currentColor;
    }

    &--user {
        width: 28px;
        height: 28px;
    }

    &--cart {
        width: 22px;
        height: 22px;
    }

    &--lang {
        width: 22px;
        height: 22px;
    }

    &:hover {
        color: $color-accent;
    }
}
