
@use '../core/variables' as *;


.nav {
    padding-inline: $spacing-page-x;
}

.nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: $space-6;
}

.nav__link {
    text-decoration: none;
    color: $color-text-main;
    font-weight: 500;
}

.nav__link--active {
    text-decoration: underline;
}
