
@use '../core/variables' as *;
@use '../core/mixins' as *;


.header {

    &__search {
        flex: 1 1 auto;
        max-width: 40rem;
        margin-inline: auto;
    }

    &__search-form {
        width: 100%;
    }

    &__search-input {
        @include form-control-base(
            $padding-y: .75rem,
            $padding-x: 1rem
        );

        border-radius: $radius-pill;
        background-color: $input-bg;
        color: $input-text;

        border-color: rgba(0, 0, 0, 0.18);

        &::placeholder {
            color: $input-placeholder;
        }

        &:focus-visible {
            border-color: rgba(0, 0, 0, 0.55);
        }
    }
}
